{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <div id="wrap">
        <div id="sub_inner">
            <div id="sub_main">
                <div id="sub_right_top">
                    <div id="sub_right_top_l">
                        <span>{{ parent_title }}</span>
                    </div>
                    <div id="sub_right_top_r">
                        <div>
                            <div style="float:left;">当前位置：</div>
                            <span class="Column_Position">
                                {% for url, title in ancestors %}
                                    {% if forloop.counter > 1 %}
                                        <span class="possplit">&nbsp;&nbsp;</span>
                                    {% endif %}
                                    <a href="{{ url }}" target="_self">{{ title }}</a>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>
                <div id="sub_right_main">
                    <div id="show">
                        <div>
                            <div id="show_title"> {{ self.news_title }} </div>
                            <div id="show_info">发布时间：{{ first_published_date }} 作者： 来源：统战部</div>
                            <div id="show_content">
                                <div class="wp_articlecontent">
                                    {% for block in self.content %}
                                        {% include_block block %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div id="wrap_footer"></div>
    </div>
{% endblock %}