<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>山东大学统一战线</title>

    <link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
    <link type="text/css" href="/_upload/site/1/style/1/1.css" rel="stylesheet"/>
    <link type="text/css" href="/_upload/site/00/04/4/style/3/3.css" rel="stylesheet"/>
    <link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet"/>
    <link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet"/>

    <script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="4"></script>
    <script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
    <script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
    <link href="/_upload/tpl/00/19/25/template25/style.css" rel="stylesheet" type="text/css"/>

    <script src="/_upload/tpl/00/19/25/template25/js/autoImageSlider.js" type="text/javascript"></script>
    <script src="/_upload/tpl/00/19/25/template25/js/comcus.js" type="text/javascript"></script>
    <script language="javascript">
        $(function () {
//搜索框效果
            $("#submitspan").click(function () {
                if ($('#key').val() == '' || $('#key').val() == '请输入您要搜索的内容') {
                    alert('请先输入关键字，再点击搜索。');
                    $("#key").focus();
                } else {
                    $("#sch").submit();
                }
            });

            $("#key").focus(function () {
                if ($(this).val() == "请输入您要搜索的内容") {
                    $(this).val("");
                }
            });
            $("#key").blur(function () {
                if ($(this).val() == "") {
                    $(this).val("请输入您要搜索的内容")
                }
            })
            <!--下拉菜单开始-->
            $('#nav>li.mainlevel').mousemove(function () {
                if ($(this).children('ul').children('li').length > 0) {
                    $(this).find('ul').slideDown();
                    $(this).addClass('hover');
                }
            });
            $('#nav>li.mainlevel').mouseleave(function () {
                $(this).find('ul').slideUp("fast");
                $(this).removeClass('hover');
            });

        })
    </script>
</head>

<body>
<div id="top"></div>
<div id="menu">
    <div id="menu_inner">
        <div frag="窗口100">
            <ul class="wp-menu">

                <li class="menu-item i1"><a class="menu-link" href="http://www.sdtz.sdu.edu.cn/main.htm" target="_self">首页</a>

                </li>

                <li class="menu-item i2"><a class="menu-link" href="/12/list.htm" target="_self">本部职责</a>

                </li>

                <li class="menu-item i3"><a class="menu-link" href="/13/list.htm" target="_self">党外代表人士风采</a>


                    <ul class="sub-menu ">

                        <li class="sub-item i3-1"><a class="sub-link" href="/576/list.htm" target="_self">人大代表</a>


                            <ul class="sub-menu ">

                                <li class="sub-item i3-1-1"><a class="sub-link" href="/586/list.htm" target="_self">全国人大代表</a>

                                </li>

                                <li class="sub-item i3-1-2"><a class="sub-link" href="/587/list.htm" target="_self">山东省人大代表</a>

                                </li>

                            </ul>

                        </li>

                        <li class="sub-item i3-2"><a class="sub-link" href="/577/list.htm" target="_self">政协委员</a>


                            <ul class="sub-menu ">

                                <li class="sub-item i3-2-1"><a class="sub-link" href="/588/list.htm" target="_self">全国政协委员</a>

                                </li>

                                <li class="sub-item i3-2-2"><a class="sub-link" href="/589/list.htm" target="_self">山东省政协委员</a>

                                </li>

                            </ul>

                        </li>

                        <li class="sub-item i3-3"><a class="sub-link" href="/578/list.htm" target="_self">政府参事</a>

                        </li>

                        <li class="sub-item i3-4"><a class="sub-link" href="/579/list.htm" target="_self">文史馆馆员</a>

                        </li>

                        <li class="sub-item i3-5"><a class="sub-link" href="/580/list.htm" target="_self">党派代表人士</a>

                        </li>

                        <li class="sub-item i3-6"><a class="sub-link" href="/581/list.htm" target="_self">无党派代表人士</a>

                        </li>

                        <li class="sub-item i3-7"><a class="sub-link" href="/582/list.htm" target="_self">留学归国人员</a>

                        </li>

                    </ul>

                </li>

                <li class="menu-item i4"><a class="menu-link" href="/14/list.htm" target="_self">民主党派</a>


                    <ul class="sub-menu ">

                        <li class="sub-item i4-1"><a class="sub-link" href="/mg/list.htm" target="_blank">民革</a>

                        </li>

                        <li class="sub-item i4-2"><a class="sub-link" href="/516/list.htm" target="_self">民盟</a>

                        </li>

                        <li class="sub-item i4-3"><a class="sub-link" href="/517/list.htm" target="_self">民建</a>

                        </li>

                        <li class="sub-item i4-4"><a class="sub-link" href="/518/list.htm" target="_self">民进</a>

                        </li>

                        <li class="sub-item i4-5"><a class="sub-link" href="/520/list.htm" target="_self">农工党</a>

                        </li>

                        <li class="sub-item i4-6"><a class="sub-link" href="/519/list.htm" target="_self">致公党</a>

                        </li>

                        <li class="sub-item i4-7"><a class="sub-link" href="/521/list.htm" target="_self">九三学社</a>

                        </li>

                    </ul>

                </li>

                <li class="menu-item i5"><a class="menu-link" href="/15/list.htm" target="_self">民族宗教</a>

                </li>

                <li class="menu-item i6"><a class="menu-link" href="/16/list.htm" target="_self">港澳台海外</a>

                </li>

                <li class="menu-item i7"><a class="menu-link" href="/18/list.htm" target="_self">作风建设</a>

                </li>

                <li class="menu-item i8"><a class="menu-link" href="/19/list.htm" target="_self">表格下载</a>

                </li>

                <li class="menu-item i9"><a class="menu-link" href="/22/list.htm" target="_self">通知公告</a>

                </li>

            </ul>
        </div>
    </div>
</div>
<div id="wrap">
    <div class="inner">
        <div id="key_news">
            <div id="key_news_left"></div>
            <div id="key_news_center">
                <div frag="窗口5">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_article_list_table">
                        <tr>
                            <td>
                                <div id="key_news_title"><a href='/2020/0527/c21a42718/page.htm' target='_blank'
                                                            title='济南市委统战部来我校调研统战工作'>济南市委统战部来我校调研统战工作</a></div>
                                <div id="key_news_des"><a href='/2020/0527/c21a42718/page.htm' target='_blank'
                                                          title='济南市委统战部来我校调研统战工作'>5月27日下午，济南市委统战部副部长张勇一行来我校调研。党委统战部部长秦承涛，合作发展部副部长、校友工作办公室主任杨斌等有关职能部门负责人参加会议。张勇...</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="r1">
            <div id="r1_left">
                <div class="main_view">
                    <div class="picshow_window">
                        <div class="picshow_reel">
                            <div frag="窗口4">
                                <ul class="news_list clearfix">

                                    <li class="news n1 clearfix">
                                        <a href="javascript:void(0)"><img
                                                src="/_upload/article/images/a4/34/8bfc7b154a53934c901a3d0c38b1/4e9f6b02-8660-4405-9040-a1c38cf95793.jpg"
                                                width="670" height="480" border="0"/></a>
                                        <div class="picshow_intro">
                                            <p class="picshow_intro_head"><a href='/2020/0527/c21a42718/page.htm'
                                                                             target='_blank' title='济南市委统战部来我校调研统战工作'>济南市委统战部来我校调研统战工作</a>
                                            </p>
                                        </div><!--图片简介-->
                                    </li>

                                    <li class="news n2 clearfix">
                                        <a href="javascript:void(0)"><img
                                                src="/_upload/article/images/56/aa/3295043c4f658617f862034c58bb/6432c3bb-b1c9-490f-a762-f8e7e5ce1c93.png"
                                                width="670" height="480" border="0"/></a>
                                        <div class="picshow_intro">
                                            <p class="picshow_intro_head"><a href='/2020/0306/c21a42505/page.htm'
                                                                             target='_blank' title='打赢疫情阻击战  谋划统战新篇章'>打赢疫情阻击战
                                                谋划统战新篇章</a></p>
                                        </div><!--图片简介-->
                                    </li>

                                    <li class="news n3 clearfix">
                                        <a href="javascript:void(0)"><img
                                                src="/_upload/article/images/3e/f5/036cfdd74f68899284532249f758/20bb96ad-3af7-4176-aab6-55ede18444b7.jpg"
                                                width="670" height="480" border="0"/></a>
                                        <div class="picshow_intro">
                                            <p class="picshow_intro_head"><a href='/2019/1106/c21a42182/page.htm'
                                                                             target='_blank' title='中央统战部副部长邹晓东来山东大学调研'>中央统战部副部长邹晓东来山东大学调研</a>
                                            </p>
                                        </div><!--图片简介-->
                                    </li>

                                    <li class="news n4 clearfix">
                                        <a href="javascript:void(0)"><img
                                                src="/_upload/article/images/40/1f/505ec9604667893083a21e78657d/9986b4d7-e558-4996-91cb-094e84a9e85b.jpg"
                                                width="670" height="480" border="0"/></a>
                                        <div class="picshow_intro">
                                            <p class="picshow_intro_head"><a href='/2019/0731/c21a40888/page.htm'
                                                                             target='_blank' title='民盟山东大学委员会青岛校区总支成立'>民盟山东大学委员会青岛校区总支成立</a>
                                            </p>
                                        </div><!--图片简介-->
                                    </li>

                                    <li class="news n5 clearfix">
                                        <a href="javascript:void(0)"><img
                                                src="/_upload/article/images/ac/44/c9c5d57c4138890293d9aeec5862/75c7632f-b34d-4343-9f6c-ede627ee74d9.jpg"
                                                width="670" height="480" border="0"/></a>
                                        <div class="picshow_intro">
                                            <p class="picshow_intro_head"><a href='/2019/0720/c21a40487/page.htm'
                                                                             target='_blank'
                                                                             title='全国政协副主席何维一行来山东大学考察调研'>全国政协副主席何维一行来山东大学考察调研</a>
                                            </p>
                                        </div><!--图片简介-->
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="picshow_paging">
                        <span picPage="1"></span>
                        <span picPage="2"></span>
                        <span picPage="3"></span>
                        <span picPage="4"></span>
                        <span picPage="5"></span></div>
                </div>
            </div>
            <div id="r1_right">
                <div id="block1">
                    <div id="block1_title">
                        <div id="block1_title_l">统战要闻</div>
                        <div id="block1_title_r"><a href="http://www.sdtz.sdu.edu.cn/21/list.htm">查看更多+</a></div>
                    </div>
                    <div id="block_list">

                        <div class="wp-window" frag="窗口1">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2020/0527/c21a42718/page.htm' target='_blank' title='济南市委统战部来我校调研统战工作'>济南市委统战部来我校调研统战工作</a>

									</span>
                                    <span class="date">2020-05-27</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=21&articleId=42675' target='_blank'
                                       title='中共中央召开党外人士座谈会 习近平主持并发表重要讲话'>中共中央召开党外人士座谈会 习近平主持并发表重要讲...</a>

									</span>
                                    <span class="date">2020-05-09</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2020/0306/c21a42505/page.htm' target='_blank' title='打赢疫情阻击战  谋划统战新篇章'>打赢疫情阻击战  谋划统战新篇章</a>

									</span>
                                    <span class="date">2020-03-06</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2020/0122/c21a42445/page.htm' target='_blank' title='我校统战工作获山东省委统战部表彰'>我校统战工作获山东省委统战部表彰</a>

									</span>
                                    <span class="date">2020-01-22</span>
                                </li>

                                <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/2019/1225/c21a42403/page.htm' target='_blank'
                                       title='“参政党建设70年回顾与前瞻”理论研讨会在中央社院召开'>“参政党建设70年回顾与前瞻”理论研讨会在中央社院召...</a>

									</span>
                                    <span class="date">2019-12-25</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div id="r1_right_span"></div>
                <div id="block1">
                    <div id="block1_title">
                        <div id="block1_title_l">通知公告</div>
                        <div id="block1_title_r"><a href="http://www.sdtz.sdu.edu.cn/22/list.htm">查看更多+</a></div>
                    </div>
                    <div id="block_list">
                        <div frag="窗口3">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2020/0526/c22a42710/page.htm' target='_blank'
                                       title='关于山东大学统一战线开展“共绘抗疫同心圆 凝聚发展正能量”主题教育活动的通知'>关于山东大学统一战线开展“共绘抗疫同心圆 凝聚发展...</a>

									</span>
                                    <span class="date">2020-05-26</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/2020/0512/c22a42685/page.htm' target='_blank'
                                       title='关于2020年度山东大学统战调研重点课题校级立项的通知'>关于2020年度山东大学统战调研重点课题校级立项的通知</a>

									</span>
                                    <span class="date">2020-05-12</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2020/0228/c22a42484/page.htm' target='_blank'
                                       title='关于做好2020年山东大学统战调研宣传工作的通知'>关于做好2020年山东大学统战调研宣传工作的通知</a>

									</span>
                                    <span class="date">2020-02-28</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2020/0203/c22a42448/page.htm' target='_blank'
                                       title='山东大学党委统战部致全校统一战线广大成员的倡议书'>山东大学党委统战部致全校统一战线广大成员的倡议书</a>

									</span>
                                    <span class="date">2020-02-03</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

        <div id="banner"><a href="http://www.sdtz.sdu.edu.cn/sjdzt/list.htm"><img
                src="/_upload/tpl/00/19/25/template25/images/banner.jpg" width="1300" height="235" border="0"/></a>
        </div>
        <div id="r2">
            <div id="r2_left">
                <div id="block2">
                    <div id="block2_title">
                        <div id="block2_title_l">代表人士风采</div>
                    </div>
                    <div id="block_list">
                        <div frag="窗口6">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2020/0224/c13a42473/page.htm' target='_blank'
                                       title='我校党外人士王文龙教授联系筹措急需物资驰援武汉一线'>我校党外人士王文龙教授联系筹措急需物资驰援武汉...</a>

									</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/2019/1118/c13a42241/page.htm' target='_blank' title='陈尚胜：在中外交往历史中求索'>陈尚胜：在中外交往历史中求索</a>

									</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2019/1114/c13a42217/page.htm' target='_blank' title='求学探药无止境 富民兴鲁不畏难'>求学探药无止境 富民兴鲁不畏难</a>

									</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2019/0925/c13a42003/page.htm' target='_blank' title='黄发有：教书育人是教师的天职'>黄发有：教书育人是教师的天职</a>

									</span>
                                </li>

                                <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/2019/0925/c13a42002/page.htm' target='_blank'
                                       title='余之刚教授团队在JAMA Oncology发表乳腺癌研究新进展'>余之刚教授团队在JAMA Oncology发表乳腺癌研究新...</a>

									</span>
                                </li>

                                <li class="news n6 clearfix">
									<span class="news_title">

									<a href='/2019/0618/c13a39443/page.htm' target='_blank'
                                       title='刘大钧先生荣获2019年度“汤用彤学术奖”'>刘大钧先生荣获2019年度“汤用彤学术奖”</a>

									</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div id="block_more">
                        <div id="more_btn"><a href="http://www.sdtz.sdu.edu.cn/13/list.htm">查看更多</a></div>
                    </div>
                </div>
                <div id="block2">
                    <div id="block2_title">
                        <div id="block2_title_l">民主党派</div>
                    </div>
                    <div id="block_list">
                        <div frag="窗口7">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2020/0807/c14a43038/page.htm' target='_blank'
                                       title='山东大学王克芳教授（九三社员）入选为美国护理科学院院士'>山东大学王克芳教授（九三社员）入选为美国护理科...</a>

									</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/2020/0724/c14a42956/page.htm' target='_blank'
                                       title='山东大学于晓（民盟山大委员）、孙金鹏团队在Nature发文揭示胆汁酸受体配体识别及激活的独特机制'>山东大学于晓（民盟山大委员）、孙金鹏团队在Natu...</a>

									</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2020/0630/c14a42876/page.htm' target='_blank' title='马来平：一位学者的参政议政感悟'>马来平：一位学者的参政议政感悟</a>

									</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2020/0513/c14a42688/page.htm' target='_blank'
                                       title='曹英娟荣获中华护理学会“杰出护理工作者”称号'>曹英娟荣获中华护理学会“杰出护理工作者”称号</a>

									</span>
                                </li>

                                <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/2020/0513/c14a42687/page.htm' target='_blank'
                                       title='曹英娟获评全国“一线医务人员抗疫巾帼先锋”'>曹英娟获评全国“一线医务人员抗疫巾帼先锋”</a>

									</span>
                                </li>

                                <li class="news n6 clearfix">
									<span class="news_title">

									<a href='/2020/0508/c14a42672/page.htm' target='_blank' title='我校许霞、翟茜获九三学社中央委员会表彰'>我校许霞、翟茜获九三学社中央委员会表彰</a>

									</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div id="block_more">
                        <div id="more_btn"><a href="http://www.sdtz.sdu.edu.cn/14/list.htm">查看更多</a></div>
                    </div>
                </div>
                <div id="block2">
                    <div id="block2_title">
                        <div id="block2_title_l">民族宗教</div>
                    </div>
                    <div id="block_list">
                        <div frag="窗口8">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2018/1105/c15a35799/page.htm' target='_blank' title='山东省民族宗教事务委员会挂牌'>山东省民族宗教事务委员会挂牌</a>

									</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/2018/1016/c15a35233/page.htm' target='_blank' title='新论：交融共存是新疆地区宗教关系的主流'>新论：交融共存是新疆地区宗教关系的主流</a>

									</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2018/0929/c15a35040/page.htm' target='_blank' title='会见全国少数民族参观团，汪洋寄予期望'>会见全国少数民族参观团，汪洋寄予期望</a>

									</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2018/0926/c15a34994/page.htm' target='_blank'
                                       title='巴特尔撰文：中国特色解决民族问题正确道路的辉煌宁夏篇'>巴特尔撰文：中国特色解决民族问题正确道路的辉煌...</a>

									</span>
                                </li>

                                <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/2018/0920/c15a34912/page.htm' target='_blank' title='校园传教，请坚决说不！'>校园传教，请坚决说不！</a>

									</span>
                                </li>

                                <li class="news n6 clearfix">
									<span class="news_title">

									<a href='/2018/0919/c15a34898/page.htm' target='_blank' title='共产党员能否信仰宗教？'>共产党员能否信仰宗教？</a>

									</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div id="block_more">
                        <div id="more_btn"><a href="http://www.sdtz.sdu.edu.cn/15/list.htm">查看更多</a></div>
                    </div>
                </div>
                <div id="block2">
                    <div id="block2_title">
                        <div id="block2_title_l">港澳台海外</div>
                    </div>
                    <div id="block_list">
                        <div frag="窗口9">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2019/1009/c16a42050/page.htm' target='_blank'
                                       title='美国法拉盛华人（工商）促进会访问团访问我校'>美国法拉盛华人（工商）促进会访问团访问我校</a>

									</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/2019/0329/c16a38073/page.htm' target='_blank' title='山东省第九次归侨侨眷代表大会闭幕'>山东省第九次归侨侨眷代表大会闭幕</a>

									</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2018/1122/c16a36248/page.htm' target='_blank'
                                       title='习近平主席的讲话让港澳同胞暖心、安心和提振信心——访国务院港澳办主任张晓明'>习近平主席的讲话让港澳同胞暖心、安心和提振信心...</a>

									</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2018/0919/c16a34896/page.htm' target='_blank' title='“侨”这四十年：改革开放刷新的中国印象'>“侨”这四十年：改革开放刷新的中国印象</a>

									</span>
                                </li>

                                <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/2018/0919/c16a34895/page.htm' target='_blank' title='“侨”这四十年：在海外，我们就代表中国'>“侨”这四十年：在海外，我们就代表中国</a>

									</span>
                                </li>

                                <li class="news n6 clearfix">
									<span class="news_title">

									<a href='/2018/0919/c16a34894/page.htm' target='_blank'
                                       title='“侨”这四十年：“改革开放四十年”中的“记忆年”'>“侨”这四十年：“改革开放四十年”中的“记忆年...</a>

									</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div id="block_more">
                        <div id="more_btn"><a href="http://www.sdtz.sdu.edu.cn/16/list.htm">查看更多</a></div>
                    </div>
                </div>
            </div>

            <div id="r2_right">
                <div id="block3">
                    <div id="block3_title">
                        <div id="block3_title_l">作风建设</div>
                        <div id="block3_title_r"><a href="http://www.sdtz.sdu.edu.cn/18/list.htm">查看更多 +</a></div>
                    </div>

                    <div id="block_list">
                        <div frag="窗口10">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2020/0701/c18a42879/page.htm' target='_blank' title='党委统战部党支部开展主题党日活动'>党委统战部党支部开展主题党日活动</a>

									</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/2020/0529/c18a42735/page.htm' target='_blank' title='党委统战部党支部开展主题党日活动'>党委统战部党支部开展主题党日活动</a>

									</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2020/0509/c18a42677/page.htm' target='_blank' title='党委统战部党支部组织专题学习'>党委统战部党支部组织专题学习</a>

									</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2020/0323/c18a42548/page.htm' target='_blank' title='党委统战部党支部开展线上主题党日活动'>党委统战部党支部开展线上主题党日活动</a>

									</span>
                                </li>

                                <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/2020/0210/c18a42459/page.htm' target='_blank'
                                       title='党委统战部贯彻落实学校疫情防控工作会议精神'>党委统战部贯彻落实学校疫情防控工作会议精神</a>

									</span>
                                </li>

                                <li class="news n6 clearfix">
									<span class="news_title">

									<a href='/2019/0701/c18a39526/page.htm' target='_blank' title='党委统战部党支部举行主题党日活动'>党委统战部党支部举行主题党日活动</a>

									</span>
                                </li>

                                <li class="news n7 clearfix">
									<span class="news_title">

									<a href='/2019/0603/c18a39271/page.htm' target='_blank' title='党委统战部党支部开展主题党日活动'>党委统战部党支部开展主题党日活动</a>

									</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div id="block3">
                    <div id="block3_title">
                        <div id="block3_title_l">理论园地</div>
                        <div id="block3_title_r"><a href="http://www.sdtz.sdu.edu.cn/23/list.htm">查看更多 +</a></div>
                    </div>

                    <div id="block_list">
                        <div frag="窗口11">
                            <ul class="news_list clearfix">

                                <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/2018/1203/c23a36510/page.htm' target='_blank'
                                       title='我校蒋锐教授当选为山东省统战理论研究会第五届理事会副会长'>我校蒋锐教授当选为山东省统战理论研究会第五届...</a>

									</span>
                                </li>

                                <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/2018/1011/c23a35128/page.htm' target='_blank'
                                       title='以习近平新时代中国特色社会主义思想为指导   推进新时代统一战线工作'>以习近平新时代中国特色社会主义思想为指导   ...</a>

									</span>
                                </li>

                                <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/2018/0910/c23a34713/page.htm' target='_blank'
                                       title='今天，鲜花送给老师！掌声送给这个民主党派！'>今天，鲜花送给老师！掌声送给这个民主党派！</a>

									</span>
                                </li>

                                <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/2018/0910/c23a34711/page.htm' target='_blank'
                                       title='【“五一口号”•记忆（32）】新政协的筹备和召开'>【“五一口号”•记忆（32）】新政协的筹备和召...</a>

									</span>
                                </li>

                                <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/2018/0910/c23a34709/page.htm' target='_blank'
                                       title='【“五一口号”•记忆（31）】召开新政协时机已经成熟'>【“五一口号”•记忆（31）】召开新政协时机已...</a>

									</span>
                                </li>

                                <li class="news n6 clearfix">
									<span class="news_title">

									<a href='/2018/0910/c23a34707/page.htm' target='_blank'
                                       title='【“五一口号”•记忆（30）】驳斥《美国与中国的关系》白皮书'>【“五一口号”•记忆（30）】驳斥《美国与中国...</a>

									</span>
                                </li>

                                <li class="news n7 clearfix">
									<span class="news_title">

									<a href='/2018/0910/c23a34705/page.htm' target='_blank'
                                       title='【“五一口号”•记忆（29）】积极配合人民解放军向全国进军'>【“五一口号”•记忆（29）】积极配合人民解放...</a>

									</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="r3">
            <div id="r3_left">友情链接：</div>
            <div id="r3_right">
                <div frag="窗口80">
                    <ul class="news_list clearfix">

                        <li class="news n1 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7917' target='_blank'
                                       title='教育部网站'>教育部网站</a>

									</span>

                        </li>

                        <li class="news n2 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7916' target='_blank'
                                       title='中共中央统战部'>中共中央统战部</a>

									</span>

                        </li>

                        <li class="news n3 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7915' target='_blank'
                                       title='人民政协网'>人民政协网</a>

									</span>

                        </li>

                        <li class="news n4 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7914' target='_blank'
                                       title='国家宗教事务局'>国家宗教事务局</a>

									</span>

                        </li>

                        <li class="news n5 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7913' target='_blank'
                                       title='山东省委统战部'>山东省委统战部</a>

									</span>

                        </li>

                        <li class="news n6 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7912' target='_blank'
                                       title='山东省政协'>山东省政协</a>

									</span>

                        </li>

                        <li class="news n7 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7911' target='_blank'
                                       title='清华大学统战部'>清华大学统战部</a>

									</span>

                        </li>

                        <li class="news n8 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7910' target='_blank'
                                       title='浙江大学统战部'>浙江大学统战部</a>

									</span>

                        </li>

                        <li class="news n9 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7909' target='_blank'
                                       title='复旦大学统战部'>复旦大学统战部</a>

									</span>

                        </li>

                        <li class="news n10 clearfix">
									<span class="news_title">

									<a href='/_redirect?siteId=4&columnId=24&articleId=7908' target='_blank'
                                       title='吉林大学统战部'>吉林大学统战部</a>

									</span>

                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div id="bottom">
    <div id="bottom_inner">版权所有 © 山东大学党委统战部<br/>
        地址：地址：山东大学中心校区明德楼A区 邮编：250100<br/>
        电话：0531-88366789 传真：0531-88364989 邮箱：tzb@sdu.edu.cn
    </div>
</div>
</body>
</html>

<image src="/_visitcount?siteId=4&type=1&columnId=5" style="display:none" width="0" height="0"></image>